<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Classy Memories- Renta de autos antiguos</title>
		<link rel="shortcut icon" href="../imagen/faviconlogo.png">
	<link rel="stylesheet" href="../css/style.css">	

</head>
<!--empieza grid"> -->
<div class="grid template-areas">

	<nav id="nav" class="bg-nav">

          <a href="../index.html">
	     <img src="../imagen/favicon/logo.png" alt="logo de classy memories">
	      </a>

<ul>
<li><a href="nosotros.html">Nosotros</a></li>	
<li><a href="galeria.html">Galeria</a></li>	
<li><a href="servicios.html">Servicios</a></li>
<li><a href="../index.html#contactos">Contacto</a></li>	
</ul>	

	<h1 class="nav-h1 bg-rosa">Galeria</
     </nav>
<main id="centro">




<div id="container">

	<div class="boxy bg-negro ">


	 <img src="../imagen/foto/headergaleria.png" alt="fotogaleria">
	
		
		 </div>

	<div class="boxy bg-rosa">

		
		<img src="../imagen/foto/fotogaleria1.png" alt="fotogaleria 1">

		</div>
			<div class="boxy bg-negro ">
		<img src="../imagen/foto/fotogaleria2.jpg" alt="fotogaleria 2">
	</div>
	<div class="boxy  bg-rosa">
		<img src="../imagen/foto/fotogaleria3.jpg"alt="fotogaleria 3">
	</div>
</div>
	


<footer id="pie" class="bg-grey">

	<H3 class="nav-h2"> Siguenos en nuestras redes sociales</H3>
	

	<a href="http://www.facebook.com"target="_blank">
	<img src="../imagen/favicon/facebook.png" alt=facebook>
</a>
<a href="https://twitter.com"target="_blank">
	<img src="../imagen/favicon/twitter.png" alt=twitter>
</a>

	
</footer >
</div>
</body>
</html>